<% provide(:title, 'Home') %>

  <div class="page-header">
  </div>
  <div class="center emertron">
    <!-- image in css file -->
  </div>
  <div class ="container center">
    <h1 class="center">Welcome to Craftwork</h1>
    
    <% if user_signed_in? %>
      <%= link_to "Sign Out", destroy_user_session_path, class: "btn btn-lg btn-default", method: :delete %>
    <% else %>
      <%= link_to "Sign in", new_user_registration_path, class: "btn btn-lg btn-default" %>
    <% end %>
  </div>
 