<% provide(:title, 'Home') %>

  <div class="page-header">
  </div>
  <div class="imageH">
    <!-- image called via css file -->
    <%#= image_path('studio-in-action.jpg') %>
  </div>
  <div class ="container center">
    <h1 class="center">Welcome to Craft<span class="myLink">Work</span></h1>
    
    <% if user_signed_in? %>
      <%= link_to "Sign Out", destroy_user_session_path, class: "btn btn-lg btn-custom", method: :delete %>
    <% else %>
      <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-lg btn-custom" %>
    <% end %>
  </div>
 