<footer class="footer">
  <small>
     <a href="https://www.google.ie" target=_blank>Google</a>&emsp;
     <a href="https://ie.linkedin.com/in/emerthornbury" class="myLink">E Thornbury</a>
  
     <ul>
        <li><%= link_to "About",   about_path %></li>
        <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
     </ul>
  </small>
</footer>